ROMVault/Connected Services/RVServices/RVService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RVService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://services.romvault.com/RVService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://services.romvault.com/RVService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRVService_StartUp_InputMessage">
    <wsdl:part name="parameters" element="tns:StartUp" />
  </wsdl:message>
  <wsdl:message name="IRVService_StartUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartUpResponse" />
  </wsdl:message>
  <wsdl:message name="IRVService_StartUpV_InputMessage">
    <wsdl:part name="parameters" element="tns:StartUpV" />
  </wsdl:message>
  <wsdl:message name="IRVService_StartUpV_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartUpVResponse" />
  </wsdl:message>
  <wsdl:message name="IRVService_SendUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SendUser" />
  </wsdl:message>
  <wsdl:message name="IRVService_SendUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRVService_CheckPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPassword" />
  </wsdl:message>
  <wsdl:message name="IRVService_CheckPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IRVService_CheckPasswordV_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPasswordV" />
  </wsdl:message>
  <wsdl:message name="IRVService_CheckPasswordV_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPasswordVResponse" />
  </wsdl:message>
  <wsdl:message name="IRVService_GetLatestVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersion" />
  </wsdl:message>
  <wsdl:message name="IRVService_GetLatestVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IRVService_GetUpdateLink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateLink" />
  </wsdl:message>
  <wsdl:message name="IRVService_GetUpdateLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IRVService_SendErrorMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendErrorMessage" />
  </wsdl:message>
  <wsdl:message name="IRVService_SendErrorMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendErrorMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IRVService_SendErrorMessageV_InputMessage">
    <wsdl:part name="parameters" element="tns:SendErrorMessageV" />
  </wsdl:message>
  <wsdl:message name="IRVService_SendErrorMessageV_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendErrorMessageVResponse" />
  </wsdl:message>
  <wsdl:portType name="IRVService">
    <wsdl:operation name="StartUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IRVService/StartUp" message="tns:IRVService_StartUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRVService/StartUpResponse" message="tns:IRVService_StartUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartUpV">
      <wsdl:input wsaw:Action="http://tempuri.org/IRVService/StartUpV" message="tns:IRVService_StartUpV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRVService/StartUpVResponse" message="tns:IRVService_StartUpV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRVService/SendUser" message="tns:IRVService_SendUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRVService/SendUserResponse" message="tns:IRVService_SendUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IRVService/CheckPassword" message="tns:IRVService_CheckPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRVService/CheckPasswordResponse" message="tns:IRVService_CheckPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPasswordV">
      <wsdl:input wsaw:Action="http://tempuri.org/IRVService/CheckPasswordV" message="tns:IRVService_CheckPasswordV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRVService/CheckPasswordVResponse" message="tns:IRVService_CheckPasswordV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IRVService/GetLatestVersion" message="tns:IRVService_GetLatestVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRVService/GetLatestVersionResponse" message="tns:IRVService_GetLatestVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateLink">
      <wsdl:input wsaw:Action="http://tempuri.org/IRVService/GetUpdateLink" message="tns:IRVService_GetUpdateLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRVService/GetUpdateLinkResponse" message="tns:IRVService_GetUpdateLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendErrorMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IRVService/SendErrorMessage" message="tns:IRVService_SendErrorMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRVService/SendErrorMessageResponse" message="tns:IRVService_SendErrorMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendErrorMessageV">
      <wsdl:input wsaw:Action="http://tempuri.org/IRVService/SendErrorMessageV" message="tns:IRVService_SendErrorMessageV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRVService/SendErrorMessageVResponse" message="tns:IRVService_SendErrorMessageV_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRVService" type="tns:IRVService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartUp">
      <soap:operation soapAction="http://tempuri.org/IRVService/StartUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartUpV">
      <soap:operation soapAction="http://tempuri.org/IRVService/StartUpV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUser">
      <soap:operation soapAction="http://tempuri.org/IRVService/SendUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPassword">
      <soap:operation soapAction="http://tempuri.org/IRVService/CheckPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPasswordV">
      <soap:operation soapAction="http://tempuri.org/IRVService/CheckPasswordV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <soap:operation soapAction="http://tempuri.org/IRVService/GetLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateLink">
      <soap:operation soapAction="http://tempuri.org/IRVService/GetUpdateLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendErrorMessage">
      <soap:operation soapAction="http://tempuri.org/IRVService/SendErrorMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendErrorMessageV">
      <soap:operation soapAction="http://tempuri.org/IRVService/SendErrorMessageV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RVService">
    <wsdl:port name="BasicHttpBinding_IRVService" binding="tns:BasicHttpBinding_IRVService">
      <soap:address location="http://services.romvault.com/RVService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>