RomVault/Connected Services/RVServices/RVService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RVServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RVServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgroups">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="groups" nillable="true" type="tns:groups" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgroups" nillable="true" type="tns:ArrayOfgroups" />
  <xs:complexType name="groups">
    <xs:sequence>
      <xs:element minOccurs="0" name="basepath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="groups" nillable="true" type="tns:groups" />
</xs:schema>